<div data-role="content">
    
   <div class="hojacuaderno" data-controltype="htmlblock">
   <div class="headerhojacuaderno history" data-role="header">
       <h3>
        <%= dic_journal_header %>
       </h3>
      </div>
	  <div data-role="content">
   <div data-role="fieldcontain" data-controltype="textarea" class="primerLcuaderno">
     <textarea name="" id="journalInput" ></textarea>
   </div>
	 </div>
   </div>
   </div>
   <div id="transferbar1" data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonprev" data-role="button" data-transition="none" href="#journal0" data-icon="arrow-l">
   <%= dic_prev %>
   </a>
   <a id="commitbutton" class="botonnext finishtool" data-role="button" data-transition="none" rel="external" href="#journal2" data-icon="check" data-iconpos="right">
   <%= dic_commit %>
   </a>
    </div>