<div data-role="content">
   <div class="hojacuaderno">
      <div class="headerhojacuaderno transfer" data-role="header">
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
<div data-role="content">
    <div data-controltype="textblock">
     <p class="primerPcuaderno">
      <%= dic_transf_p8_text1 %>
     </p>
    </div>
     <ul id="listsuscual" data-role="listview" data-split-icon="delete" data-split-theme="d" data-inset="true">
     </ul>
    <div data-role="fieldcontain" class="noborder" data-controltype="textinput">
     <input name="" id="actualsuscual" placeholder="<%= dic_transf_p8_placeholder1 %>" value="" type="text" /></div>
    <a id="addsuscual" class="addsuscual colorverde" data-role="button" data-transition="none" data-icon="plus" data-iconpos="right">
     <%= dic_transf_p8_text2 %>
    </a>
   </div>
   </div>
   </div>
   <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="addsuscual botonprev" data-role="button" data-transition="none" href="#transference7" data-icon="arrow-l">
    <%= dic_prev %>
   </a>
   <a class="addsuscual botonnext" data-role="button" data-transition="none" href="#transference9" data-icon="arrow-r" data-iconpos="right">
    <%= dic_next %>
   </a>
    </div>