<div data-role="content">  
  <div class="hojacuaderno">
      <div class="headerhojacuaderno transfer" data-role="header">
       <h2>
        <%= dic_vicious_header %>
       </h2>
      </div>
	  <div data-role="content">
    
     <canvas id="myCanvas"></canvas>
 
   </div>
   </div>
   </div>
  <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonprev" data-role="button" data-transition="none" href="#vicious4" data-icon="arrow-l">
    <%= dic_prev %>
   </a>
   <a class="botonnext" data-role="button" data-transition="none" href="#vicious2" data-icon="arrow-r" data-iconpos="right">
    <%= dic_next %>
   </a>
    </div>