<div data-role="content">  
  <div class="hojacuaderno">
      <div class="headerhojacuaderno transfer" data-role="header">
       <h2>
        <%= dic_vicious_header %>
       </h2>
      </div>
	  <div style="text-align: center; margin-top:5%;">  
		<label class="victextocentrado"> <%= dic_vicious_p2_text1 %> </label>
	  </div>
<ul id="feederexitlist" data-role="listview" data-inset="true"></ul>
  </div>
  </div>
    <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonprev" data-role="button" data-transition="none" href="#vicious1" data-icon="arrow-l">
    <%= dic_prev %>
   </a>
   <a class="botonnext" data-role="button" data-transition="none" href="#vicious3" data-icon="arrow-r" data-iconpos="right">
    <%= dic_next %>
   </a>
    </div>