<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.hoffman-international.hoffman-app"
		version   = "2.2.4"
		android-versionCode="1813">

		<gap:config-file platform="ios" parent="CFBundleVersion">
            <string>45</string>
        </gap:config-file>
        <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    		<string>2.2.4</string>
		</gap:config-file>
		
		<name>Hoffman App</name>
		<description>
			Hoffman Process mobile application.
		</description>
		<author href="http://phonegap.com" email="support@phonegap.com">
			DavidLuthiers
		</author>
		
		<preference name="android-minSdkVersion" value="26" />
		<preference name="android-targetSdkVersion" value="26" />
		<preference name="phonegap-version" value="cli-8.0.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />

		<preference name="android-installLocation" value="internalOnly" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="LoadingDialog" value=","/>
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		<preference name="android-build-tool" value="gradle" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
		
		<preference name="AndroidPersistentFileLocation" value="Compatibility" />


		<icon src="icon.png" />
		<icon src="icons/ios/29.png"   gap:platform="ios"          width="29" height="29" />
		<icon src="icons/ios/40.png"   gap:platform="ios"          width="40" height="40" />
		<icon src="icons/ios/50.png"   gap:platform="ios"          width="50" height="50" />
		<icon src="icons/ios/57.png"   gap:platform="ios"          width="57" height="57" />
		<icon src="icons/ios/58.png"   gap:platform="ios"          width="58" height="58" />
		<icon src="icons/ios/60.png"   gap:platform="ios"          width="60" height="60" />
		<icon src="icons/ios/72.png"   gap:platform="ios"          width="72" height="72" />
		<icon src="icons/ios/76.png"   gap:platform="ios"          width="76" height="76" />
		<icon src="icons/ios/80.png"   gap:platform="ios"          width="80" height="80" />
		<icon src="icons/ios/100.png"  gap:platform="ios"          width="100" height="100" />
		<icon src="icons/ios/114.png"  gap:platform="ios"          width="114" height="114" />
		<icon src="icons/ios/120.png"  gap:platform="ios"          width="120" height="120" />
		<icon src="icons/ios/144.png"  gap:platform="ios"          width="144" height="144" />
		<icon src="icons/ios/152.png"  gap:platform="ios"          width="152" height="152" />
		<icon src="icons/android/36.png"   gap:platform="android"      gap:qualifier="ldpi" />
		<icon src="icons/android/48.png"   gap:platform="android"      gap:qualifier="mdpi" />
		<icon src="icons/android/72.png"   gap:platform="android"      gap:qualifier="hdpi" />
		<icon src="icons/android/96.png"   gap:platform="android"      gap:qualifier="xhdpi" />

		<gap:splash src="splash/ios/Default.png"       gap:platform="ios"     width="320" height="480" />
		<gap:splash src="splash/ios/Default@2x.png"       gap:platform="ios"     width="640" height="960" />
		<gap:splash src="splash/ios/Default-568h@2x.png"      gap:platform="ios"     width="640" height="1136" />

		<gap:splash src="splash/ios/splash1334.png" gap:platform="ios" width="750" height="1334"/>
		<gap:splash src="splash/ios/splash2208.png" gap:platform="ios" width="1242" height="2208"/>

		
		<gap:plugin name="cordova-plugin-facebook4" source="npm" spec="2.2.0">
			<param name="APP_ID" value="1504029573151839" />
			<param name="APP_NAME" value="Hoffman" />
		</gap:plugin>
				

		<gap:plugin name="cordova-plugin-camera" source="npm" version="2.4.1"/>
		<gap:plugin name="cordova-plugin-media" source="npm" version="2.4.1"/>
		<gap:plugin name="cordova-plugin-dialogs" source="npm" />
		<gap:plugin name="cordova-plugin-geolocation" source="npm" version="2.4.3"/>
		<gap:plugin name="cordova-plugin-globalization" source="npm" />
		<gap:plugin name="cordova-plugin-device" source="npm" />
		<gap:plugin name="cordova-plugin-vibration" source="npm" />
		<gap:plugin name="cordova-plugin-file-transfer" source="npm" version="1.6.1" />
		<gap:plugin name="cordova-plugin-file" source="npm" />
		<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
		<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
		<gap:plugin name="cordova-plugin-network-information" source="npm"/>
		<gap:plugin name="cordova-plugin-spinner-dialog" source="npm"/>
		<gap:plugin name="cordova-plugin-x-socialsharing" source="npm"/>

		<!--<gap:plugin name="net.yoik.cordova.plugins.screenorientation" source="npm"/>-->
		<gap:plugin spec="https://github.com/apache/cordova-plugin-screen-orientation.git" source="git" />
		<gap:plugin name="cordova-plugin-ios-disableshaketoedit" source="npm"/>
		<gap:plugin name="cordova-plugin-insomnia" source="npm"/>
		
		<gap:config-file platform="android" parent="/resources" target="./res/values/strings.xml">
				<string name="fb_app_id">1504029573151839</string>
				<string name="fb_app_name">Hoffman</string>
		</gap:config-file>

		<!-- <gap:config-file platform="android"> <application android:hardwareAccelerated="true" /> </gap:config-file> -->
		<!--<gap:plugin name="nl.x-services.plugins.backgroundaudio" />-->
		<gap:config-file platform="ios" parent="UIStatusBarHidden">
			<true/>
		</gap:config-file>
		<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
			<false/>
		</gap:config-file>

		<gap:plugin name="cordova-plugin-googlemaps" source="npm" version="1.4.0">
			<param name="API_KEY_FOR_ANDROID" value="AIzaSyDIJqM7uVgLddZvsJ1L31kpw9pZ24tbzY0" />
			<param name="API_KEY_FOR_IOS" value="AIzaSyDIJqM7uVgLddZvsJ1L31kpw9pZ24tbzY0" />
		</gap:plugin>

		<gap:config-file platform="android" parent="/manifest/" mode="delete">
		  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
		  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
		</gap:config-file>

		<plugin name="cordova-plugin-media-capture" source="npm" version="1.4.3" >
		  <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
		</plugin>

		<plugin spec="https://github.com/katzer/cordova-plugin-local-notifications.git" />


		<gap:splash src="splash.png" />

		<gap:config-file platform="ios" parent="UIStatusBarHidden">
			<true/>
		</gap:config-file>

		<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
			<false/>
		</gap:config-file>


		<preference name="SplashScreenDelay" value="15000" />

		<allow-navigation href="*" />
		<access origin="*" launch-external="yes"/>



	</widget>
