<div data-role='content'>
   <div class='hojacuaderno' data-controltype='htmlblock'>
   <div class='headerhojacuaderno beatyour' data-role='header'>
       <h3>
        <%= dic_beatyour_header %>
       </h3>
      </div>
    <div data-role='content'>
     <p class='beathistory'><%= target %></p>
    </div>
   </div>
  </div>
  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
      <a class='botonstart' data-role='button' rel='external' data-transition='none' href='#summary'>
    <%= dic_finish %>
   </a>
    </div>