<div data-role='content' style='overflow: visible !important;'>
   <div class='hojacuaderno' data-controltype='htmlblock'>
   <div class='headerhojacuaderno beatyour' data-role='header'>
       <h3>
        <%= dic_beatyour_header %>
       </h3>
      </div>
    <div data-role='content' style='overflow: visible !important;'>
		<div id='journalcenter' style='margin-left:auto; margin-right:auto; width:100%;'>
			<p id='journaltext' class='beatyourgratz' ></p>
		</div>
        <div id='myCanvas'><canvas class='completeimage'></canvas> </div>
    </div>
   </div>
  </div>
  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
   <a class='botonnext save' data-role='button' data-transition='none' data-icon='arrow-l'>
    <%= dic_done %>
   </a>
    </div>
