<div data-role='content'>
   <div class='hojaconfig' data-controltype='htmlblock'>
   <div class='headerhojacuaderno support' data-role='header'>
       <h3 id='configheader' >
        <%= dic_config_header %>
       </h3>
      </div>
    <div data-role='content'>
		<h3 id='languageTag'>
		<%= dic_language_tag %>
		</h3>
	   <form id='testForm'>
			<select name='select1' id='select1' data-native-menu='false' data-inline='true'>
			
		</select>
		</form>
		<label class='fasequad' style='font-size:130%;margin-bottom: 2.5%;margin-top: 3%;'> <%= dic_config_colortheme %> </label>
		<div id='themesnav' data-role='navbar' style='margin-bottom: 20%;' data-iconpos='top'>
            <ul>
                <li>
                    <a id='theme1' class='settheme' data-transition='none' data-theme='f' data-icon=''>
                        Blue
                    </a>
                </li>
                <li>
                    <a id='theme2' class='settheme' data-transition='none' data-theme='g' data-icon=''>
                        Classic
                    </a>
                </li>
                <li>
                    <a id='theme3' class='settheme' data-transition='none' data-theme='h' data-icon=''>
                        Happy
                    </a>
                </li>
            </ul>
        </div>
		<div id='checkboxdiv'> </div>
		<a id='password_protect_button_cfg' href='#passwordProtect' data-role='button' class='verdeboton' data-icon='padlock-icon' data-iconpos='right' data-transition='none'>
		<%= dic_password_protect %>
       </a>
	   <a id='resetApp' data-role='button' class='verdeboton' data-icon='trash' data-iconpos='right' data-transition='none'>
		<%= dic_config_resetApp %>
       </a>
    </div>
   </div>
  </div>