
<div data-role='content'>
   <div class='hojacuaderno' data-controltype='htmlblock'>
   <div class='headerhojacuaderno headerquad' data-role='header'>
       <h3>
        Quad Check In
       </h3>
      </div>
	  <div id='agujeroscuaderno'>

    <img class='agujero1' src='img/agujero-01.png'></img>
    <img class='agujero2' src='img/agujero-01.png'></img>

</div>
    <div data-role='content'>
     <div data-controltype='textblock'>
      <p class='primerPcuaderno'>
       <span >
        This is designed to be a simple function that allows the user to perform
                              a daily Quad Check In that lasts approx 5 minutes.
        In the event that all centres do not have audio versions then text versions
                              will be used in place of audio. All available quad checks will be accessible
                              through this screen.
         It will also send push alerts if the User hasn’t used it within a given
                                  period.
        </span>
      </p>
     </div>
     <div id='checkboxes1' data-role='fieldcontain' data-controltype='checkboxes' class='donotshowagain'>
      <fieldset data-role='controlgroup' data-type='vertical'>
       <input id='checkbox1' name='' data-theme='b' type='checkbox' />
       <label for='checkbox1'>
        Do not show again
       </label>
      </fieldset>
     </div>
    </div>
   </div>
  </div>
  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a id='startquad' class='botonstart' data-role='button' data-transition='none' href='#page10'>
    Start
   </a>
    </div>