<div data-role='content'>
    <div class='hojacuaderno'>
   <div class='headerhojacuaderno feeling' data-role='header'>
       <h3>
         <%= dic_feeling_header %>
       </h3>
      </div>
	<div data-role='content'>
    <div style='text-align: center;'>  
    <p id='selectedfeelinghistory' class='textocentrado'> <%= dic_feeling_selected %> <%= feeling %></p>
    </div>
  <div class='feelinghistory'>
  <img src='<%= uri %>' width='260px'>
  <p><%= result %></p>
  </div>
   </div>
   </div>
   </div>
   <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a class='botonstart' data-role='button' rel='external' data-transition='none' href='#summary'>
    <%= dic_finish %>
   </a>
    </div>