<div data-role='content'>
    
   <div class='hojacuaderno' data-controltype='htmlblock'>
   <div class='headerhojacuaderno history' data-role='header'>
       <h3>
        <%= dic_journal_header %>
       </h3>
      </div>
	  <div data-role='content'>
    <a id='addvisionbutton' data-role='button' class='visionboard' href='#journal1' data-icon='plus' data-iconpos='right'>
       <%= dic_journal_addnote %>
      </a>
	<div data-role='content' class='recyclinglistpadding'>
	  <ul id='summarylist' class='visionlist journallist' data-role='listview' data-divider-theme='b' data-inset='true'>
      
	</ul>
	</div>
	 </div>
   </div>
   </div>
   <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a class='botonstart' data-role='button' data-transition='none' href='#summary'>
    <%= dic_back %>
   </a>
    </div>