<div data-role='content'>
	   <div class='hojacuaderno' data-controltype='htmlblock'>
	   <div class='headerhojacuaderno patternr' data-role='header'>
		   <h3>
			<%= dic_pattern_header %>
		   </h3>
		  </div>
		<div data-role='content'>
		 <div data-role='content' class='textocentradoPatternRelease'>  
			<label> <%= dic_pattern_p1_blow %> </label>
		  </div>
		  <canvas id='myCanvas'></canvas>
		  
	<a id='graba' data-role='button' data-transition='none'>
    Graba sonido
   </a>
   <a id='botonvolume' data-role='button' data-transition='none'>
    Volumen de la grabación
   </a>
   <a id='stoprecording' data-role='button' data-transition='none'>
    Leer sonido
   </a>
		  <a id='botonpaso' class='finishtool' data-role='button' data-transition='none'>
    Da un paso de animacion</a>
		 <div style=' text-align:center' data-controltype='image'>
		 <img id='elglobo' class= 'globo' style='display:none;position: relative; width:50%; height:50%;' src='img/globo1.png' />
		</div>
		</div>
	   </div>
	  </div>
	  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
			<a class='botonstart' data-role='button' data-transition='none' href='#summary'>
		<%= dic_done %>
	   </a>
		</div>