<div data-role='content'>  
  <div class='hojacuaderno'>
      <div class='headerhojacuaderno summaryheader' data-role='header'>
       <h2>
        <%= dic_summary_header %>
       </h2>
      </div>
   <div data-role='content'>
   
   <div class='quotes sombrafrase' data-role='content'>
   <p class='frasediaria'> <%= quote %></p>
   <p class='frasediariaAuthor'> <%= quoteAuthor %></p>
   </div>
      <a id='suggestionbutton' class='summary toolbutton' data-role='button' data-controltype='panelbutton' href='#panelhoffman' data-transition='none' data-inset='false'>
         <%= dic_summary_text2 %>
    </a>
   <ul id='summarylist' style='-webkit-box-shadow: none;' data-role='listview' data-divider-theme='b' data-inset='true' data-icon='none'>
     
	</ul>
	<ul id='listasummarytools' style='-webkit-box-shadow: none;' data-role='listview' data-divider-theme='b' data-icon='none' data-inset='true'>
						
	</ul>
   </div>
  </div>
</div> 