<div data-role='content'>  
  <div class='hojacuaderno'>
      <div class='headerhojacuaderno transfer' data-role='header'>
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
   <div data-role='content'>
    <div data-role='fieldcontain' class='noborder' data-controltype='textinput'>
     <label for='textinput6'>
      <%= dic_transf_p0_text1 %>
     </label>
     <input name='' id='textinput6' placeholder='<%= dic_transf_p0_placeholder1 %>' value='<%= transferencewith %>' type='text' />
	 </div>
    <div data-controltype='htmlblock'>
	<div data-role='fieldcontain' class='noborder' data-controltype='textinput'>
	<label for='textareadesctransfer'>
      <%= dic_transf_p0_text2 %>
     </label>
     <div id='nooverflow'>
		<textarea rows='10' name='' id='textareadesctransfer' placeholder='<%= dic_transf_p0_placeholder2 %>'><%= situations %></textarea>
	 </div>
	 </div>
    </div>
   </div>
  </div>
  </div>
  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a class='botonprev' data-role='button' data-transition='none' href='#summary' data-icon='arrow-l'>
    <%= dic_back %>
   </a>
   <a class='botonnext' data-role='button' data-transition='none' href='#transference1' data-icon='arrow-r' data-iconpos='right'>
    <%= dic_next %>
   </a>
    </div>