<div data-role='content'>
  <div class='hojacuaderno'>
      <div class='headerhojacuaderno transfer' data-role='header'>
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
   <div data-role='content'>
    <div data-controltype='textblock'>
     <p class='primerPcuaderno'>
       <span>
         <%= dic_transf_p2_text1 %> 
       </span>
       <br />
     </p>
    </div>
    <div data-controltype='htmlblock'>
     <ul id='listmisreac' data-role='listview' data-split-icon='delete' data-split-theme='d' data-inset='true'>
     </ul>
    </div>
    <div data-role='fieldcontain' class='noborder' data-controltype='textinput'>
     <input name='' id='actualmisreac' placeholder='<%= dic_transf_p2_placeholder1 %>' value='' type='text' /></div>
    <a id='addmisreac' class='addmisreac colorverde' data-role='button' data-transition='none' data-icon='plus' data-iconpos='right'>
     <%= dic_transf_p2_text2 %> 
    </a>
   </div>
   </div>
</div>
  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a class='addmisreac botonprev' data-role='button' data-transition='none' href='#transference1' data-icon='arrow-l'>
    <%= dic_prev %> 
   </a>
   <a class='addmisreac botonnext' data-role='button' data-transition='none' href='#transference3' data-icon='arrow-r' data-iconpos='right'>
   <%= dic_next %> 
   </a>
    </div>