 <div data-role='content'>
   <div class='hojacuaderno'>
      <div class='headerhojacuaderno transfer' data-role='header'>
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
 <div data-role='content'>
    <div data-controltype='textblock'>
     <p class='primerPcuaderno'>
      <%= dic_transf_p6_text1 %>
     </p>
    </div>
    <div data-role='fieldcontain' class='noborder' data-controltype='textarea'>
     <textarea name='' id='textareadarkside'><%= darkSideWin %></textarea>
    </div>
    <div data-controltype='textblock'>
     <p class='primerPcuaderno'>
      <%= dic_transf_p6_text2 %>
     <br/>
      <%= dic_transf_p6_text3 %>
     </p>
    </div>
   </div>  
   </div>
</div>
  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a class='botonprev' data-role='button' data-transition='none' href='#transference5' data-icon='arrow-l'>
    <%= dic_prev %>
   </a>
   <a class='botonnext' data-role='button' data-transition='none' href='#transference7' data-icon='arrow-r' data-iconpos='right'>
    <%= dic_next %>
   </a>
    </div>