<div data-role='content'>
 <div class='hojacuaderno'>
      <div class='headerhojacuaderno transfer' data-role='header'>
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
   <div data-role='content'>
    <div data-controltype='textblock'>
     <p class='primerPcuaderno'>
       <span>
       <%= dic_transf_p1_text1 %> 
       </span>
       <br />
     </p>
    </div>
    <div data-controltype='htmlblock'>
     <ul id='listsusnegas' data-role='listview' data-split-icon='delete' data-split-theme='d' data-inset='true'>
     </ul>
    </div>
    <div data-role='fieldcontain' class='noborder' data-controltype='textinput'>
     <input name='' id='actualsusnegas' placeholder=' <%= dic_transf_p1_placeholder1 %> ' value='' type='text' /></div>
    <a id='addsusnegas' class='addsusnegas colorverde' data-role='button' data-transition='none' data-icon='plus' data-iconpos='right'>
     <%= dic_transf_p1_text2 %>
    </a>
   </div>
  </div>
  </div>
  <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a class='addsusnegas botonprev' data-role='button' data-transition='none' href='#transference0' data-icon='arrow-l'>
    <%= dic_prev %>
   </a>
   <a class='addsusnegas botonnext' data-role='button' data-transition='none' href='#transference2' data-icon='arrow-r' data-iconpos='right'>
    <%= dic_next %>
   </a>
    </div>