	<div data-role='content'>  
  <div class='hojacuaderno viciouspage'>
      <div class='headerhojacuaderno transfer' data-role='header'>
       <h2>
        <%= dic_vicious_header %>
       </h2>
      </div>
   <div data-role='content'>
    <div data-role='fieldcontain' data-controltype='textinput'>
     <label for='coreissue'>
      <%= dic_vicious_p0_text1 %>
     </label>
     <input name='' id='coreissue' placeholder='' value='' type='text' /></div>
	 <div data-role='fieldcontain' data-controltype='textinput'>
     <label for='corebelieve'>
      <%= dic_vicious_p0_text2 %>
     </label>
     <input name='' id='corebelieve' placeholder='' value='' type='text' /></div>
    <label for='corebelieve'>
      <%= dic_vicious_p0_text3 %>
     </label>
    <div data-controltype='htmlblock'>
     <ul id='listfeeders' class='listfeeders' data-role='listview' data-split-icon='delete' data-split-theme='d' data-inset='true'>
     </ul>
    </div>
    <div id='enterfeeder' data-role='fieldcontain' class='noborder' data-controltype='textinput'>
     <input name='' id='actualfeeder' value='' type='text' /></div>
    <a id='addfeeder' class='addfeeder colorverde' data-role='button' data-transition='none' data-icon='plus' data-iconpos='right'>
     <%= dic_vicious_p0_text4 %>
    </a>
	<a id='keyspace' style='display:none;' data-role='button' data-transition='none'>Start</a>
   </div>
  </div>
  </div>
   <div data-theme='a' data-role='footer' data-position='fixed' data-tap-toggle='false'>
        <a class='botonprev' data-role='button' data-transition='none' href='#vicious0' data-icon='arrow-l'>
    <%= dic_prev %>
   </a>
   <a class='addfeeder botonnext' data-role='button' data-transition='none' href='#vicious1' data-icon='arrow-r' data-iconpos='right'>
    <%= dic_next %>
   </a>
    </div>