 <div data-role="content">
	<div class="hojacuaderno">
   <div class="headerhojacuaderno bashacker" data-role="header">
       <h3>
         <%= dic_bash_header %>
       </h3>
      </div>
	  <div data-role="content">
	 <p class="bashakerhistory"><%= target %></p>
  
   </div>
  </div>
  </div>
  <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
   <a class="botonprev" data-role="button" data-transition="none" href="#summary" data-icon="arrow-l">
    <%= dic_back %>
   </a>
    </div>
