<div data-role="content">
    
   <div class="hojacuaderno" data-controltype="htmlblock">
   <div class="headerhojacuaderno history" data-role="header">
       <h3>
        <%= dic_journal_header %>
       </h3>
      </div>
	  <div data-role="content">

     <label id="journaltext">

    </label>
	<a id="shareb" class="colorverde" data-role="button" data-transition="none">
		 <img src="img/shareandroid.png" width="40" height="40"> <br/>
      <%= dic_share %>
       </a>

	 </div>
   </div>
   </div>
   <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonstart" data-role="button" data-transition="none" href="#journal0">
    <%= dic_back %>
   </a>
    </div>