<div data-role="content" style="height: 100%; background: url('../img/Tile/migrid.png') repeat;">
	<div id="map_module_map" class="_gmaps_cdv_" style="background-color: rgba(0, 0, 0, 0);"></div>
</div>
<div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
	<a class="botonprev" data-role="button" data-transition="none" href="#summary" data-icon="arrow-l">
		<%= dic_back %>
	</a>
	<a id="botonnext" class="botonnext" data-role="button" data-transition="none" data-icon="arrow-r" data-iconpos="right">
		<%= dic_vision_p1_text3 %>
	</a>
</div>