<div data-role="content"> 
    <div class="hojacuaderno" data-controltype="htmlblock">
	    <div class="headerhojacuaderno history" data-role="header">
			<h3>
				<%= dic_map %>
			</h3>
		</div>
		<div data-role="content">
		
			<div id="map_module_map" class="_gmaps_cdv_" style="background-color: rgba(0, 0, 0, 0);"></div>
				
			<a id="gotomap" data-role="button" data-icon="edit" data-iconpos="right" data-theme="" style="top:-130px;" ><%= dic_edit_profile %></a>
			
		</div>
   </div>
</div>
<div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
	<a class="botonprev" data-role="button" data-transition="none" href="#summary" data-icon="arrow-l">
		<%= dic_back %>
	</a>
	<a id="botonnext" class="botonnext" data-role="button" data-transition="none" data-icon="arrow-r" data-iconpos="right">
		<%= dic_vision_p1_text3 %>
	</a>
</div>