<div data-role="content">
    
   <div class="hojacuaderno" data-controltype="htmlblock">
   <div class="headerhojacuaderno history" data-role="header">
       <h3>
        <%= dic_password_protect %>
       </h3>
      </div>
	  <div data-role="content">
		<div data-role="fieldcontain" class="noborder" data-controltype="textinput">
     <label for="textinput60">
      <%= dic_enter_password %>
     </label>
     <input name="" id="textinput60" placeholder="<%= dic_enter_password %>" value="" type="password" />
	 </div>
	 <div data-role="fieldcontain" class="noborder" data-controltype="textinput">
     <label for="textinput70">
      <%= dic_reenter_password %>
     </label>
     <input name="" id="textinput70" placeholder="<%= dic_reenter_password %>" value="" type="password" />
	 </div>
	<a id="password_protect_button" data-role="button" class="verdeboton" data-icon="padlock-icon" data-iconpos="right" data-iconpos="right">
	   <%= dic_password_protect %>
	</a>
	 </div>
   </div>
   </div>
   <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonstart" data-role="button" data-transition="none" href="#summary">
    <%= dic_back %>
   </a>
    </div>