<div data-role="content"> 
    <div class="hojacuaderno" data-controltype="htmlblock">
	    <div class="headerhojacuaderno history" data-role="header">
			<h3 id="profileHeader">
				<%= dic_profile %>
			</h3>
		</div>

			<img id="visionphoto" style="width:30%; margin: 0 auto;" src="img/noimage.png" />

			
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" >

				<label name="" id="displayname" value="" style="margin-left: 5%;">
				</label>
			</div>
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" >
				<label name="" id="status" value="" style="margin: 5%; margin-top 0; display: inherit;">
				</label>
			</div>
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" style="display: none;" >

				<label name="" id="useremail" value="" style="margin-left: 5%;">
				</label>
			</div>
			
			<a id="send_email" class="email_background" data-role="button" style="width: 80%; margin: 0 auto;" data-iconpos="right" data-theme=""  ><%= dic_send_email %></a>
			
		</div>
   </div>
</div>
<div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
	<a id = "back_to_map" class="botonprev" data-role="button" data-transition="none" data-icon="arrow-l">
		<%= dic_back %>
	</a>
</div>