<div data-role="content"> 
    <div class="hojacuaderno" data-controltype="htmlblock">
	    <div class="headerhojacuaderno history" data-role="header">
			<h3>
				<%= dic_profile %>
			</h3>
		</div>
		<div data-role="content">
		
			<label id="fill_profile">
				<%= dic_fill_profile %>
			</label>
		
			<img id="visionphoto" style="width:30%;" src="img/noimage.png" />
			<a id="addphotoprofile" data-role="button" data-theme="">
				<img src="img/photo.png" > <br/>
				<%= dic_vision_p1_text1 %>
			</a>
			<a id="getgalleryphoto" data-role="button" data-theme=""><%= dic_gallery %></a>
			
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" style="top:-130px;">
				<label for="displayname">
				  <%= dic_display_name %>
				</label>
				<input name="" id="displayname" value=""/>
			</div>
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" style="top:-130px;">
				<label for="useremail">
				  <%= dic_email %>
				</label>
				<input name="" id="useremail" value=""/>
			</div>
			
			<a id="loadfromfacebook" data-role="button" data-icon="facebook" data-iconpos="left" data-theme="" style="top:-130px;" ><%= dic_load_facebook %></a>
			
			<a id="gotomap" data-role="button" data-icon="facebook" data-iconpos="left" data-theme="" style="top:-130px; visiblity: hidden;" ><%= dic_load_facebook %></a>
			
			
			
		</div>
   </div>
</div>
<div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
	<a class="botonprev" data-role="button" data-transition="none" href="#summary" data-icon="arrow-l">
		<%= dic_back %>
	</a>
	<a id="botonnext" class="botonnext" data-role="button" data-transition="none" data-icon="arrow-r" data-iconpos="right">
		<%= dic_vision_p1_text3 %>
	</a>
</div>