<div data-role="content"> 
    <div class="hojacuaderno" data-controltype="htmlblock">
	    <div class="headerhojacuaderno history" data-role="header">
			<h3>
				<%= dic_profile %>
			</h3>
		</div>

			<img id="visionphoto" style="width:30%;" src="img/noimage.png" />

			
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" >

				<label name="" id="displayname" value="">
				</label>
			</div>
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" >

				<label name="" id="useremail" value="">
				</label>
			</div>
			<div data-role="fieldcontain" class="noborder" data-controltype="textinput" >

				<label name="" id="status" value="">
				</label>
			</div>
			
			
			
			<a id="send_email" data-role="button" data-icon="arrow-r" data-iconpos="right" data-theme=""  ><%= dic_send_email %></a>

		</div>
   </div>
</div>
<div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
	<a class="botonprev" data-role="button" data-transition="none" href="#summary" data-icon="arrow-l">
		<%= dic_back %>
	</a>
</div>