<div data-role="content">  
  <div class="hojacuaderno">
      <div class="headerhojacuaderno headerquad" data-role="header">
       <h2>
        <%= dic_quad_header %>
       </h2>
      </div>
   <div data-role="content">
   <label class="fasequad" style="text-align:left;"> <%= dic_quad_p1_title %> </label>
   <div class="primerLcuaderno">
    <label id="quadInput1" style="font-size: 120%;">
     
    </label>

   </div>
   <div>
    <label id="quadInput2" style="font-size: 120%;"> </label>
   </div>

      <label class="fasequad" style="text-align:left;"> <%= dic_quad_p2_title %> </label>
   <div class="primerLcuaderno">
    <label id="quadInput3" style="font-size: 120%;">
     
    </label>

   </div>
   <div>
    <label id="quadInput4" style=""> </label>
   </div>
   
      <label class="fasequad" style="text-align:left;"> <%= dic_quad_p3_title %> </label>
   <div class="primerLcuaderno">
    <label id="quadInput5" style="font-size: 120%;">
     
    </label>

   </div>
  
    <label id="quadInput6" style="font-size: 120%;"> </label>
	</br>
	<label id="quadInput7" style="font-size: 120%;"> </label>

   
      <label class="fasequad" style="text-align:left;"> <%= dic_quad_p4_title %> </label>
   <div class="primerLcuaderno">
    <label id="quadInput8" style="font-size: 120%;">
     
    </label>

   </div>
   <div>
    <label id="quadInput9" style="font-size: 120%;"> </label>
   </div>
   
   </div>
  </div>
  </div>
  <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonstart backhistory" data-role="button" data-transition="none">
    <%= dic_back %>
   </a>
    </div>
  