 <div data-role="content">  
  <div class="hojacuaderno">
      <div class="headerhojacuaderno recycling" data-role="header">
       <h2>
        <%= dic_recycling_header %>
       </h2>
      </div>
   <div data-role="content">
    <div data-role="fieldcontain" data-controltype="textarea" class="primerLcuaderno writtingarea">
    <label for="quadInputS">
     <%= title %>
    </label>
    <textarea class="writtingtextarea ui-disabled" rows="9" name="" id="quadInputS" class="mandatory" placeholder="<%= dic_quad_pS_placeholder1 %>"><%= answer %></textarea>
   </div>
    
       <a id="downloadAndPlay" class="colorverde" data-role="button" data-mini="true">
     <%= dic_loadaudio %>
    </a>
     <div data-role="content" class="sinmargin">
	
      <h3 class="timeTag"> <%= dic_time %> </h3>
      <div data-role="fieldcontain" id="songPositionControl">
			<label for="songPosition" id="songCurrentTime" class="ui-input-text ui-body-c ui-corner-all ui-shadow-inset ui-mini ui-slider-input">0:00</label>
			<input type="range" value="0" min="0" data-highlight="true" data-mini="true" id="songPosition" style="display: none;" />
		</div>
		 <h3 class="timeTag"> <%= dic_volume %> </h3>
      <div data-role="fieldcontain" id="volumePositionControl">
       <input value="10" min="0" max="10" data-highlight="true" data-mini="true" name="volText" id="volText" type="range" />
      </div>
	  
     </div>
   </div>
  </div>
  </div>
  <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonprev stopaudio" data-role="button" data-transition="none" href="#summary" data-icon="arrow-l">
    <%= dic_prev %>
   </a>
    </div>
