<div data-role="content">
   <div class="hojacuaderno">
      <div class="headerhojacuaderno transfer" data-role="header">
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
<div data-role="content">
    <div data-controltype="textblock">
     <p class="primerPcuaderno">
      <%= dic_transf_p5_text1 %>
     </p>
    </div>
    <div data-role="fieldcontain" data-controltype="textarea">
     <textarea name="" id="textareaotrasareas" placeholder="<%= dic_transf_p5_placeholder1 %>"><%= otherAreas %></textarea>
    </div>
   </div>
   </div>
</div>
  <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonprev" data-role="button" data-transition="none" href="#transference4" data-icon="arrow-l">
    <%= dic_prev %>
   </a>
   <a class="botonnext" data-role="button" data-transition="none" href="#transference6" data-icon="arrow-r" data-iconpos="right">
    <%= dic_next %>
   </a>
    </div>