<div data-role="content">  
  <div class="hojacuaderno">
      <div class="headerhojacuaderno transfer" data-role="header">
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
   <div data-role="content">
    <div data-role="fieldcontain" class="noborder" data-controltype="textinput">
     <div id="reactionto">
      <%= dic_trans_reactionto %>
     </div>
   </div>
    <div data-controltype="htmlblock">
  <div data-role="fieldcontain" class="noborder" data-controltype="textinput">
  <div id="situations">
    <%= dic_transf_situations %>
     </div>
   </div>
    </div>
  
  <div data-role="fieldcontain" class="noborder" data-controltype="textinput">
  <div id="myexperience">
    <%= dic_transf_p3_text1 %>
     </div>
   </div>

  <ul id="listadjorig" data-role="listview" data-split-icon="none" data-inset="true">
     </ul>
   
  <div data-role="fieldcontain" class="noborder" data-controltype="textinput">
  <div id="myexperience">
    <%= dic_transf_p4_text1 %>
     </div>
   </div>
    

	 <ul id="listreacorig" data-role="listview" data-split-icon="none" data-inset="true">
     </ul>
	</div>
   </div>
  </div>
  <div id="transresumeFooter" data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonstart" data-role="button" data-transition="none" href="#historyload" data-icon="arrow-l">
    <%= dic_back %>
   </a>
    </div>