<div data-role="content">
  <div class="hojacuaderno">
      <div class="headerhojacuaderno transfer" data-role="header">
       <h2>
        <%= dic_transf_header %>
       </h2>
      </div>
   <div data-role="content">
    <div style=" text-align:center" data-controltype="image">
     <img style="width: 80%;height: 55%;position: relative;top: -14px;" src="img/06.png" />
    </div>
    <div data-controltype="textblock">
     <p style="margin-top: -65px;margin-bottom: 5px; font-size: 33px;">
	 <%= dic_transf_p9_text1 %>
     </p>
    </div>

     <!--<div id="radioBtnDiv" class="eleccionfinal" data-role="fieldcontain" data-controltype="radiobuttons">
      <fieldset id="lolo" class="eleccionfinal" data-role="controlgroup" data-type="vertical">
       <input id="radio8" class="eleccionfinal" name="myButtonho" value="1" type="radio" />
       <label for="radio8" id="mierdon">
        I am free of transference
       </label>
       <input id="radio9" class="eleccionfinal" name="myButtonho" value="2" type="radio" />
       <label for="radio9">
        I am still in transference
       </label>
      </fieldset>
     </div>-->
	 <div id="slidercontainer" class="miscontroles" data-role="fieldcontain" data-controltype="toggleswitch">
        <select name="freeswitch" id="freeswitch" data-theme="" data-role="slider" data-mini="false">
         <option value="yes">
          <%= dic_transf_p9_text2 %>
         </option>
         <option value="no">
          <%= dic_transf_p9_text3 %>
         </option>
        </select>
       </div>
    
    </div>
	</div>
  </div>
	<div id="transferbar1" data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonprev" data-role="button" data-transition="none" href="#<%= transVersion2 %>" data-icon="arrow-l">
    <%= dic_prev %>
   </a>
   <a class="botonnext finishtool" data-role="button" data-transition="none" rel="external" href="#transference10" data-icon="check" data-iconpos="right">
   <%= dic_transf_p9_text4 %>
   </a>
    </div>
  <div id="transferbar2" style="display: none;" data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
    <a class="botonprev" data-role="button" data-transition="none" href="#<%= transVersion2 %>" data-icon="arrow-l">
      <%= dic_prev %>
   </a>
   <a class="botonnext" data-role="button" data-transition="none" href="#transference0" data-icon="refresh" data-iconpos="right">
   <%= dic_transf_p9_text5 %>
   </a>
    </div>