<div data-role="content">
   <div class="hojacuaderno" data-controltype="htmlblock">
   <div class="headerhojacuaderno recycling" data-role="header">
       <h3>
        <%= dic_vision_header %>
       </h3>
      </div>
    <div data-role="content">
	<textarea name="" id="visiontitle" class="mandatory" placeholder="<%= dic_vision_p1_placeholder1 %>"></textarea>
	<textarea rows="6" name="" id="textareadesctransfer" placeholder="<%= dic_vision_p1_placeholder2 %>"></textarea>
	<img id="visionphoto" style="width:50%;" src="img/noimage.png" />
	<a id="addphotovision" data-role="button" data-theme="">
		<img src="img/photo.png" > <br/>
		<%= dic_vision_p1_text1 %>
	</a>
	<a id="getgalleryphoto" data-role="button" data-theme=""><%= dic_gallery %></a>

	</div>
   </div>
   </div>
   <div data-theme="a" data-role="footer" data-position="fixed" data-tap-toggle="false">
        <a class="botonprev" data-role="button" data-transition="none" href="#visionboard0" data-icon="arrow-l">
    <%= dic_vision_p1_text2 %>
   </a>
   <a class="botonnext savevision" data-role="button" data-transition="none" data-icon="arrow-r" data-iconpos="right">
    <%= dic_vision_p1_text3 %>
   </a>
</div>